:root {
  --ebook-primary-color: #985DEC;
  --ebook-primary-color-darker: #814FC9;
  --ebook-toolbar-background: #FAFAFA;
  --ebook-toolbar-divider-color: #EBEBEB;
  --ebook-toolbar-icon-size: 1rem;
  --ebook-text-color: #383838;
/*   --font-primary: 'Clash Grotesk', sans-serif; */
  --font-primary: 'Satoshi', sans-serif;
  /* --font-secondary: 'General Sans', sans-serif; */
  --font-secondary: 'Fraunces', sans-serif;
  /* --font-primary: 'Fraunces', sans-serif; */
}
