:root {
  --ebook-button-text: blue;
  --ebook-button-background: #000;
  --ebook-button-text: blue;
  --ebook-button-bg: #eee;
  --font-primary: 'Clash Grotesk', sans-serif;
  /* --font-secondary: 'General Sans', sans-serif; */
  --font-secondary: 'Fraunces', sans-serif;
  /* --font-primary: 'Fraunces', sans-serif; */
}
